Importing data

In [52]:
from sklearn import datasets

In [53]:
data=datasets.load_iris()

In [54]:
# second way of importing data
import pandas as pd
data=pd.read_csv(r"C:\Users\VIRANGANA\Desktop\Iris.csv")
data.head(5)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1            5.1           3.5            1.4           0.2        0
1   2            4.9           3.0            1.4           0.2        0
2   3            4.7           3.2            1.3           0.2        0
3   4            4.6           3.1            1.5           0.2        0
4   5            5.0           3.6            1.4           0.2        0

In [55]:
data=data.drop('Id',axis=1)
data.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0            5.1           3.5            1.4           0.2        0
1            4.9           3.0            1.4           0.2        0
2            4.7           3.2            1.3           0.2        0
3            4.6           3.1            1.5           0.2        0
4            5.0           3.6            1.4           0.2        0

Seperating data into train and test

In [56]:
#importing required library
from sklearn.model_selection import train_test_split

In [57]:
# seperating dependent and independent variables
y=data['Species']
x=data.drop('Species',axis=1)

In [58]:
# seperating data into train and test
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30)

In [59]:
[len(x_test),len(x_train)],[len(y_test),len(y_train)]

([45, 105], [45, 105])

In [60]:
#importing required library
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()

In [61]:
#fitting model on training data
model.fit(x_train,y_train)

GaussianNB()

In [62]:
#accuracy of model
model.score(x_test,y_test)

0.9777777777777777

In [63]:
x_test[:20]

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
96             5.7           2.9            4.2           1.3
108            6.7           2.5            5.8           1.8
137            6.4           3.1            5.5           1.8
126            6.2           2.8            4.8           1.8
74             6.4           2.9            4.3           1.3
94             5.6           2.7            4.2           1.3
77             6.7           3.0            5.0           1.7
143            6.8           3.2            5.9           2.3
33             5.5           4.2            1.4           0.2
100            6.3           3.3            6.0           2.5
67             5.8           2.7            4.1           1.0
80             5.5           2.4            3.8           1.1
35             5.0           3.2            1.2           0.2
58             6.6           2.9            4.6           1.3
117            7.7           3.8            6.7           2.2
32             5.2           4.1            1.5           0.1
76             6.8           2.8            4.8           1.4
110            6.5           3.2            5.1           2.0
44             5.1           3.8            1.9           0.4
81             5.5           2.4            3.7           1.0

In [64]:
y_test[:20]

96     1
108    2
137    2
126    2
74     1
94     1
77     1
143    2
33     0
100    2
67     1
80     1
35     0
58     1
117    2
32     0
76     1
110    2
44     0
81     1
Name: Species, dtype: int64

In [65]:
#predict on test data
model.predict(x_test[:20])

array([1, 2, 2, 2, 1, 1, 2, 2, 0, 2, 1, 1, 0, 1, 2, 0, 1, 2, 0, 1],
      dtype=int64)